@charset "UTF-8";
header .header-logo, main, footer {
  padding-left: 0.83333rem;
  padding-right: 0.83333rem; }
  @media screen and (min-width: 47em) and (min-height: 500px) {
    header .header-logo, main, footer {
      padding-left: 9.375rem; } }

header, main {
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 47em) and (min-height: 500px) {
    header, main {
      max-width: 870px; } }

.portfolio-item .project-links a:hover svg, .top-navigation a:hover svg, .social-links a:hover svg {
  fill: #BB7073;
  transition: all .2s ease-out; }

* {
  box-sizing: border-box; }

body {
  width: 100%;
  margin: 0 auto; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

h1, h2, h3, h4, h5, p, article, figure, blockquote {
  margin: 0; }

img {
  display: inline-block;
  max-width: 100%; }

html {
  height: 100%; }

body {
  position: relative;
  min-height: 100%;
  padding-bottom: 7.5rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #666;
  background-color: #FDFDFD; }

h1, h2, h3 {
  color: #4D4D4D; }

h2 {
  font-size: 1.777rem;
  line-height: 2.5rem; }

h3 {
  font-size: 1.333rem;
  line-height: 2.5rem; }

p {
  font-size: 1.333rem;
  line-height: 1.875rem; }

@media screen and (min-width: 47em) {
  p {
    line-height: 2.5rem; } }

header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  header .header-logo {
    display: inline-block;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    padding-top: 3.75rem;
    padding-bottom: 1.25rem; }
    @media screen and (min-width: 47em) and (min-height: 500px) {
      header .header-logo {
        padding-top: 1.25rem; } }
  header .top-navigation {
    position: absolute;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
    z-index: 10; }
    header .top-navigation ul {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      text-align: center; }
    header .top-navigation img {
      max-width: 100%;
      max-height: 100%; }
    header .top-navigation a {
      display: inline-block;
      height: 100%; }
    header .top-navigation svg {
      height: 100%;
      width: 100%; }
    header .top-navigation li {
      display: inline-block;
      padding: .4rem 0;
      height: 2.75rem;
      max-width: 2.5rem; }
      header .top-navigation li:first-child {
        padding: .3rem 0 .2rem; }
    @media screen and (min-width: 47em) and (min-height: 500px) {
      header .top-navigation {
        position: fixed;
        display: inline-block;
        width: auto;
        height: 100%;
        padding: 0 0.625rem; }
        header .top-navigation ul {
          display: block; }
        header .top-navigation svg {
          max-width: 3.75rem;
          height: 3.75rem;
          padding-top: 0; }
        header .top-navigation li {
          display: list-item;
          margin: 2.0625rem 0;
          height: 5rem;
          max-width: 5rem; }
        header .top-navigation li:first-child {
          height: 6.25rem;
          margin-top: 1.5625rem; } }

main {
  margin-bottom: 2.5rem;
  margin-top: 0.41667rem; }
  @media screen and (min-width: 47em) {
    main {
      margin-top: 1.25rem; } }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 1.25rem;
  text-align: center; }
  footer .social-links {
    padding-bottom: 1.25rem;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%; }
    footer .social-links li {
      display: inline-block;
      height: 1.875rem; }
    footer .social-links a {
      display: inline-block;
      height: 100%; }
    footer .social-links svg {
      height: 100%;
      width: 100%;
      padding-top: 0; }
    @media screen and (min-width: 47em) {
      footer .social-links {
        position: initial;
        display: inline-block;
        -webkit-order: 3;
        -ms-flex-order: 3;
        order: 3;
        width: auto; }
        footer .social-links li {
          display: inline-block; }
        footer .social-links svg {
          max-width: 3.125rem;
          height: 1.875rem;
          padding-top: 0; } }

.portfolio-item {
  padding-bottom: 2.5rem;
  padding-top: 1.25rem; }
  .portfolio-item figure {
    position: relative;
    max-width: 100%; }
  .portfolio-item figcaption {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 4px;
    width: 100%; }
  .portfolio-item .project-links {
    position: absolute;
    bottom: 4px;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.41667rem;
    text-align: center; }
    .portfolio-item .project-links li {
      width: 50%; }
    .portfolio-item .project-links a {
      display: inline-block;
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
      margin: 0 0.625rem; }
      .portfolio-item .project-links a svg {
        vertical-align: middle;
        margin-right: 0.3125rem;
        padding-bottom: 5px; }
    @media screen and (min-width: 47em) {
      .portfolio-item .project-links {
        padding: 1.25rem; }
        .portfolio-item .project-links svg {
          margin-right: 0.625rem; } }
  .portfolio-item .technologies {
    display: inline-block;
    width: 100%;
    text-align: center; }
    .portfolio-item .technologies li {
      display: inline-block; }
  @media screen and (min-width: 47em) {
    .portfolio-item figcaption {
      min-width: 350px; } }

.about .featured-img {
  position: relative;
  display: inline-block; }
  .about .featured-img:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 4px;
    left: 0; }

.img-modal {
  display: none; }
  .img-modal:target {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
    z-index: 10; }
    .img-modal:target img {
      margin: 0 auto;
      max-height: 100%; }
    .img-modal:target figcaption {
      margin-top: 1.25rem; }

.close-modal:target {
  display: none; }

.about p {
  padding: 0.625rem 0; }

.about a {
  color: #6D72B0; }
  .about a:hover {
    color: #BB7073; }

.about .featured-img:before {
  border-radius: 5%;
  box-shadow: inset 0 0 18px 30px rgba(0, 0, 0, 0.3); }

.about .featured-img img {
  border-radius: 5%; }

.about a[href="#cheers"] {
  display: inline-block;
  border-radius: 5%; }

.about .img-modal:target {
  background-color: rgba(0, 0, 0, 0.8); }
  .about .img-modal:target figcaption a {
    padding: 0.625rem 2.5rem;
    font-size: 1.777rem;
    color: #FDFDFD;
    background-color: #666;
    border-radius: 0.41667rem;
    transition: .2s ease-in; }
    .about .img-modal:target figcaption a:hover {
      background-color: #BB7073;
      transition: .2s ease-in; }

.header-logo h1 {
  font-size: 2.369rem;
  font-weight: 600; }
  @media screen and (min-width: 47em) {
    .header-logo h1 {
      font-size: 3.157rem; } }

@media screen and (min-width: 47em) {
  .header-logo p {
    font-size: 1.777rem; } }

.portfolio-item {
  border-bottom: 1px solid #E3E4E5; }
  .portfolio-item figcaption {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent); }
  .portfolio-item .project-links li {
    border-top: 1px solid #FDFDFD; }
    .portfolio-item .project-links li:first-child {
      border-right: 1px solid #FDFDFD; }
  .portfolio-item .project-links a {
    font-size: 1.333rem;
    color: #E3E4E5; }
    .portfolio-item .project-links a svg {
      max-width: 1rem;
      height: 1.333rem;
      fill: #E3E4E5; }
    @media screen and (min-width: 47em) {
      .portfolio-item .project-links a {
        font-size: 2.369rem;
        transition: all .2s ease-out; }
        .portfolio-item .project-links a:hover {
          color: #fff;
          transition: .2s; }
        .portfolio-item .project-links a svg {
          height: 2.369rem;
          transition: all .2s ease-out; } }
  .portfolio-item p {
    font-size: 1rem;
    line-height: 1.25rem;
    padding: 0.41667rem; }
    @media screen and (min-width: 47em) {
      .portfolio-item p {
        padding: 1.25rem;
        font-size: 1.333rem;
        line-height: 1.875rem; } }
  .portfolio-item .technologies {
    padding: 0.3125rem; }
    .portfolio-item .technologies li {
      font-size: 1rem; }
      .portfolio-item .technologies li:after {
        content: "•";
        padding-left: 0.625rem;
        padding-right: 0.41667rem; }
      .portfolio-item .technologies li:last-child:after {
        display: none; }
      @media screen and (min-width: 47em) {
        .portfolio-item .technologies li {
          font-size: 1.333rem; } }

.technologies {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.333rem;
  font-weight: 300;
  line-height: 1.875rem;
  vertical-align: top; }
  .technologies li {
    line-height: 1.8125rem; }

.html {
  padding-left: 1.25rem;
  background-image: url("/icons/html5.svg");
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  background-position: left center; }
  @media screen and (min-width: 47em) {
    .html {
      padding-left: 1.875rem;
      background-size: 1.25rem 1.8125rem; } }

.css {
  padding-left: 1.25rem;
  background-image: url("/icons/css3.svg");
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  background-position: left center; }
  @media screen and (min-width: 47em) {
    .css {
      padding-left: 1.875rem;
      background-size: 1.25rem 1.8125rem; } }

.javascript {
  padding-left: 1.25rem;
  background-image: url("/icons/JavaScript.svg");
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  background-position: left center; }
  @media screen and (min-width: 47em) {
    .javascript {
      padding-left: 1.875rem;
      background-size: 1.25rem 1.8125rem; } }

.sass {
  padding-left: 1.25rem;
  background-image: url("/icons/sass.svg");
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  background-position: left center; }
  @media screen and (min-width: 47em) {
    .sass {
      padding-left: 1.875rem;
      background-size: 1.25rem 1.8125rem; } }

.gulp {
  padding-left: 1.25rem;
  background-image: url("/icons/gulp.svg");
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  background-position: left center; }
  @media screen and (min-width: 47em) {
    .gulp {
      padding-left: 1.875rem;
      background-size: 1.25rem 1.8125rem; } }

.angular {
  padding-left: 1.25rem;
  background-image: url("/icons/angular.svg");
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  background-position: left center; }
  @media screen and (min-width: 47em) {
    .angular {
      padding-left: 1.875rem;
      background-size: 1.25rem 1.8125rem; } }

.mongo {
  padding-left: 1.25rem;
  background-image: url("/icons/mongo.svg");
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  background-position: left center; }
  @media screen and (min-width: 47em) {
    .mongo {
      padding-left: 1.875rem;
      background-size: 1.25rem 1.8125rem; } }

.node {
  padding-left: 1.25rem;
  background-image: url("/icons/node.svg");
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  background-position: left center; }
  @media screen and (min-width: 47em) {
    .node {
      padding-left: 1.875rem;
      background-size: 1.25rem 1.8125rem; } }

.sketch {
  padding-left: 1.25rem;
  background-image: url("/icons/sketch.svg");
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  background-position: left center; }
  @media screen and (min-width: 47em) {
    .sketch {
      padding-left: 1.875rem;
      background-size: 1.25rem 1.8125rem; } }

footer {
  color: #98A6AE; }
  footer p {
    font-size: 1rem; }

.nav-item {
  font-size: 0.75rem;
  font-weight: 300; }
  @media screen and (min-width: 47em) {
    .nav-item {
      font-size: 1rem; } }
  .nav-item a {
    color: #666; }
  .nav-item li:hover {
    background-color: #d7d7d7;
    transition-duration: .2s;
    cursor: pointer; }
    .nav-item li:hover a:before {
      background-size: 55%; }

.btn-home:before {
  content: "";
  display: block;
  width: 2.5rem;
  height: 1.875rem;
  margin: 0 auto;
  background-image: url("/icons/coffee.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  cursor: pointer; }
  @media screen and (min-width: 47em) {
    .btn-home:before {
      width: 3.75rem;
      height: 2.5rem;
      background-size: 50%; } }

.btn-projects:before {
  content: "";
  display: block;
  width: 2.5rem;
  height: 1.875rem;
  margin: 0 auto;
  background-image: url("/icons/portfolio.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  cursor: pointer; }
  @media screen and (min-width: 47em) {
    .btn-projects:before {
      width: 3.75rem;
      height: 2.5rem;
      background-size: 50%; } }

.btn-contact:before {
  content: "";
  display: block;
  width: 2.5rem;
  height: 1.875rem;
  margin: 0 auto;
  background-image: url("/icons/messages.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  cursor: pointer; }
  @media screen and (min-width: 47em) {
    .btn-contact:before {
      width: 3.75rem;
      height: 2.5rem;
      background-size: 50%; } }

.btn-blog:before {
  content: "";
  display: block;
  width: 2.5rem;
  height: 1.875rem;
  margin: 0 auto;
  background-image: url("/icons/blog.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  cursor: pointer; }
  @media screen and (min-width: 47em) {
    .btn-blog:before {
      width: 3.75rem;
      height: 2.5rem;
      background-size: 50%; } }

.top-navigation {
  background: linear-gradient(to right, #434E58, #98A6AE 100%); }
  .top-navigation .image-profile {
    border-radius: 50%; }
  .top-navigation svg {
    fill: #FDFDFD;
    transition: all .2s ease-out; }
  @media screen and (min-width: 47em) and (min-height: 500px) {
    .top-navigation {
      background: linear-gradient(#434E58, #FDFDFD 100%); } }

.social-links svg {
  fill: #bcc5ca;
  transition: .2s ease-out; }

.social-links:target svg {
  fill: #6D72B0; }

@media screen and (min-width: 47em) {
  .social-links {
    background-color: initial; } }

/*# sourceMappingURL=maps/main.css.map */
