.portfolio-item {
  border-bottom: 1px solid color(base, dark);
  figcaption {
    background: linear-gradient(to top, rgba(0,0,0,.85), rgba(0,0,0,0));
  }
  .project-links {
    li {
      border-top: 1px solid color(base);
      &:first-child {
        border-right: 1px solid color(base);
      }
    }
    a {
      font-size: type-scale(1);
      color: color(base, dark);
      svg {
        max-width: type-scale(0);
        height: type-scale(1);
        fill: color(base, dark);
      }
      @media screen and (min-width: $break) {
        font-size: type-scale(3);
        transition: all .2s ease-out;
        &:hover {
          color: #fff;
          transition: .2s;
          svg {
            @extend %svg-hover-fill;
          }
        }
        svg {
          height: type-scale(3);
          transition: all .2s ease-out;
        }
      }
    }
  }
  p {
    @include vertical-rhythm(0);
    padding: $base-line-height / 3;
    @media screen and (min-width: $break) {
      padding: $base-line-height;
      font-size: type-scale(1);
      line-height: $base-line-height * 1.5;
    }
  }
  .technologies {
    padding: $base-line-height / 4;
    li {
      font-size: type-scale(0);
      &:after {
        content: "•";
        padding-left: $base-line-height / 2;
        padding-right: $base-line-height / 3;
      }
      &:last-child:after {
        display: none;
      }
      @media screen and (min-width: $break) {
        font-size: type-scale(1);
      }
    }
  }
}
