.social-links {
  svg {
    fill: mix(white, color(accent, light), 35%);
    transition: all .2s ease-out;
  }
  &:target {
    svg {
      animation: 2s .2s social-flash;
    }
  }
  @media screen and (min-width: $break) {
    background-color: initial;
    a:hover {
      svg {
        @extend %svg-hover-fill;
      }
    }
  }
}
@keyframes social-flash {
  50% {
    fill: color(tertiary);
  }
  100% {
    fill: mix(white, color(accent, light), 35%);
  }
}
