.social-links {
  svg {
    fill: mix(white, color(accent, light), 35%);
    transition: .2s ease-out;
  }
  &:target {
    svg {
      fill: color(tertiary);
    }
  }
  @media screen and (min-width: $break) {
    background-color: initial;
    a:hover {
      svg {
        @extend %svg-hover-fill;
      }
    }
  }
}
