.top-navigation {
  background: linear-gradient(to right, color(accent), color(accent, light) 100%);
  .image-profile {
    border-radius: 50%;
  }
  svg {
    fill: color(base);
    transition: all .2s ease-out;
  }
  @media screen and (min-width: $break) and (min-height: 500px) {
    background: linear-gradient(color(accent), color(base) 100%);
    a:hover {
      svg {
        @extend %svg-hover-fill;
      }
    }
  }
}
