.social-links {
  background-color: mix(white, color(base, dark), 35%);
  svg {
    fill: color(accent, light);
    transition: all .2s ease-out;
    &:hover {
      @extend %svg-hover-fill;
    }
  }
}
