.header-logo {
  h1 {
    font-size: type-scale(3);
    font-weight: weight(bold);;
    @media screen and (min-width: $break) {
      font-size: type-scale(4);
    }
  }
  @media screen and (min-width: $break) {
    p {
      font-size: type-scale(2);
    }
  }
}
