html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  padding-bottom: $base-line-height * 6;
  font-family: $primary;
  color: color(primary);
  background-color: color(base);
}

h1, h2, h3 {
  color: color(primary, dark);
}

h2 {
  @include vertical-rhythm(2);
}

h3 {
  @include vertical-rhythm(1);
}

p {
  font-size: type-scale(1);
  line-height: line-height(0) * 1.5;
}

@media screen and (min-width: $break) {
  p {
    line-height: line-height(1);
  }
}
